label {
    -fx-alignment: center;
}

AnchorPane {
    -fx-background-color: #3c3c3c;
}

.inputField:hover {
    -fx-background-color: #e6e6e6;
}

.inputField:focused {
    -fx-border-width: 3;
    -fx-border-color: orange;
}

.btn {
    -fx-border-color: #ffffff;
    -fx-background-color: #3c3c3c;
    -fx-border-radius: 10;
    -fx-background-radius: 10;
    -fx-border-width: 2;
    -fx-text-fill: #96b946;
}

#btnDelete {
    -fx-border-color: #ff401d;
}

.btn:hover {
    -fx-background-color: #616161;
}

.btn:pressed {
    -fx-pref-height: 15;
    -fx-border-color: orange;
}